/*　main.css　*/

hr{
	opacity:		0.67;
	border-width:1px 0px 0px 0px;
	border-style:	solid;
	border-color:	#fbfaf5;
 }
table#footer{
	width:		100%;
 }
table#footer tr td.right{
	width:		25%;
 }
table#footer tr td.left{
	width:		75%;
 }


div.box {
	border:		1px dotted #fbfaf5;
	border-radius:	16px;
	color:		#51516c;
	background-color:	#fbfaf5;
	padding:		20px 20px 20px 20px;
 }
td.txtbox{
	width:		320px;
 }
td.imgbox{
	width:		320px;
 }
td.imgbox img{
	max-width:	480px;
 }


body{
	color:		#fbfaf5;
	background-color:	#769164;
	margin-left:	20px;
	margin-right:	20px;
 }
div strong{
	color:		#505a7a;
 }
span{
	opacity:		0.85;
 }
img{
	border-width:	0px;
 }
a:link {
	color:		#baC0C0;
 }

a:visited {
	color:		#809aba;
 }

a:hover{
	color:		#ff0a0a;
 }
